<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/assets/logo1.png" alt="Logo" class="logo">
            <h1 class="title">CANCER DETECTION APP</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i> About</a></li>
                    <li><a href="{{ url_for('contact') }}"><i class="fas fa-envelope"></i> Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="about-main">
        <section class="about-section">
            <h2>Amacımız</h2>
            <p>Amacımız, kanser tespitinde erken teşhis imkanlarını artırarak hastaların hayatlarını kurtarmak ve tedavi süreçlerini iyileştirmektir. Gelişmiş görüntü işleme teknikleri ve yapay zeka algoritmaları kullanarak doktorlara ve sağlık profesyonellerine hızlı ve güvenilir teşhis araçları sunuyoruz.</p>
        </section>
        <section class="about-section">
            <h2>Hedefimiz</h2>
            <p>Hedefimiz, kanser tespiti sürecini daha hızlı, daha doğru ve daha erişilebilir hale getirmektir. Bu sayede hastaların zamanında tedaviye başlamalarını sağlamak ve sağlık sistemlerine yük olan gecikmeleri azaltmak istiyoruz.</p>
        </section>
        <section class="about-section">
            <h2>Hedef Kitle</h2>
            <p>Hedef kitlemiz, kanser teşhisinde ileri teknolojilere ihtiyaç duyan doktorlar, hastaneler, sağlık merkezleri ve araştırma kurumlarıdır. Ayrıca, sağlık alanında yenilikçi çözümler arayan teknoloji firmaları ve araştırmacılar da uygulamamızdan faydalanabilir.</p>
        </section>
        <section class="about-section">
            <h2>Vizyonumuz</h2>
            <p>Vizyonumuz, kanser tespiti ve tedavisinde yapay zekanın gücünü kullanarak dünya çapında hayatları kurtarmak ve sağlıklı bir gelecek inşa etmektir. Teknolojiyi insan sağlığının hizmetine sunarak, her bireyin en iyi sağlık hizmetine erişmesini sağlamayı amaçlıyoruz.</p>
        </section>
    </main>
    <footer>
        <div class="con-foot">
            <p>&copy; 2024 Cancer Prediction. All rights reserved.</p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:sinanbavli04@gmail.com">sinanbavli04@gmail.com</a>
        </div>
    </footer>
</body>
</html>
